#logo {
	width: 50%;
}

#logo img{
	width: 100%;
	height: 100%;
}

.allParkInfo {
	margin: 50px;
	width: 90%;
	text-align: left;
	line-height: 1.7;
}

.parkImage {
	display: inline-block;
	width: 50%;
}

.parkImage img {
	width: 100%;
}

.parkText {
	text-align: left;
	width: 40%;
	vertical-align: middle;
	display: inline-block;
	padding-left:40px;
}

.parkName {
	font-size: 1.5em;
	display: inline;
	float: left;
}

.parkDescription {
	font-size: 1.2em;
}

/**** Weather Forecast Day 1 ****/
.firstDay {
	
}
/**** Weather Forecast Day 2-5 ****/
.fourDays {
	
}