/*FONTS*/
@font-face {
    font-family: 'american_purposeregular';
    src: url('american_purpose-webfont.woff2') format('woff2'),
         url('american_purpose-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'broadbaynormal';
    src: url('broadbay-webfont.woff2') format('woff2'),
         url('broadbay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chlakh_demoregular';
    src: url('chlakh_demo-webfont.woff2') format('woff2'),
         url('chlakh_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'haarlem_deco_demoregular';
    src: url('haarlem_deco_demo-webfont.woff2') format('woff2'),
         url('haarlem_deco_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	width: 100%;
	background-color: #212121;
	font-family: 'broadbaynormal';
}

#logo {
	width: 50%;
}

#logo img{
	width: 100%;
	height: 100%;
}

/* HOME PAGE TAGS **************************/

.allParkInfo {
	margin: 50px;
	width: 90%;
	text-align: left;
	line-height: 1.7;
}

.allParkInfo:hover {
	border-color: #ababab;
}

.allParkImages {
	display: inline-block;
	width: 50%;
	
}

.allParkImages img {
	width: 100%;
}

.allParkTexts {
	text-align: left;
	width: 40%;
	vertical-align: middle;
	display: inline-block;
	padding-left:40px;
}

.allParkNames {
	font-size: 1.5em;
	display: inline;
	float: left;
	font-family: 'broadbaynormal';
}

.allParkDescriptions {
	font-size: 1.2em;
}

/**** Weather Forecast Day 1 ****/
#weather {
	content-align: center;
}

.firstDay {
	text-align: center;
	width:25%;
	display:inline-block;
	vertical-align: middle;
}

.firstDay h3 {
	margin: 20px 0px 0px 0px;
}

.firstDayImage img{
	width: 100%;
}

.firstDayImage {
	width: 100%;
}
/**** Weather Forecast Day 2-5 ****/
.fourDays {
	text-align: center;
	width:15%;
	display: inline-block;
	vertical-align:middle;
}

.fourDaysImage img {
	width: 100%;
}

.fourDaysImage {
	width: 100%;
}

/* DETAIL PAGE TAGS **************************/
#detailLargestDiv {
	
}

.detailImage {
	
}
.detailImage img{
	width: 100%;
}

.detailText {
	
}

.detailName {
	
}

.detailDescription {
	
}
/* SURVEY RESULTS PAGE TAGS **************************/
.allParkNamesOnSurvey {
	font-size: 1.5em;
	display: block;
	float: left;
	font-family: 'broadbaynormal';
}

.surveyVotesTalley {
	font-size: 1.5em;
	display: block;
	float: left;
}





